<%- include('../../includes/top.ejs') %>
  <!-- Page Title -->
  <h1 class="h2 mt-5 mb-3">Car Detail</h1>
  <!-- Search Bar -->
  <%- include('../../components/search-bar.ejs') %>
  <!-- Car Detail -->
  <div class="card">
    <div class="card-body p-4">
      <div>
        <h2 class="h5">Car Number</h2>
        <p><%= car.carNum %></p>
      </div>
      <div>
        <h2 class="h5">Owner</h2>
        <p><%= car.owner %></p>
      </div>
      <div>
        <h2 class="h5">Model</h2>
        <p><%= car.model %></p>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <!-- Back-Button -->
        <a href="/cars/overview" class="text-decoration-none">
          <i class="bi bi-arrow-left"></i>&nbsp;Back
        </a>
        <!-- Delete-Button -->
        <a href="#" class="link-danger text-decoration-none d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#carDeleteModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>&nbsp;Delete
        </a>
        <!-- Delete-Check Modal -->
        <div class="modal fade" id="carDeleteModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="carDeleteModalLabel">Delete the car</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure to delete <span class="fw-semibold"><%= car.carNum %></span>?</p>
              </div>
              <div class="modal-footer">
                <form action="/cars/delete-car" method="POST">
                  <input type="hidden" name="carNum" value="<%= car.carNum %>">
                  <button type="submit" class="btn btn-danger">Yes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../../includes/bottom.ejs') %>
