<%- include('../../includes/top.ejs') %>
  <!-- Page Header -->
  <div class="d-flex justify-content-between mt-5 mb-2">
    <!-- Page Title -->
    <h1 class="h2">All cars</h1>
    <!-- Add-Car Button -->
    <div><a href="/cars/add-car" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add the car</a></div>
  </div>
  <!-- Search Bar -->
  <%- include('../../components/search-bar.ejs') %>
  <!-- Car list -->
  <% if (cars.length <= 0) { %>
    <p class="h5 mt-4 text-center text-secondary">No Any Car</p>
  <% } else { %>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% for (car of cars) { %>
        <!-- Car item -->
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
              <h5 class="card-title"><%= car.carNum %></h5>
              <p class="card-text"><%= car.owner %></p>
              <div class="d-flex justify-content-between">
                <span class="card-text fw-semibold"><%= car.model %></span>
                <a href="/cars/detail/<%= car.carNum %>" class="text-decoration-none">More <i class="bi bi-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
<%- include('../../includes/bottom.ejs') %>
